# Force npm instead of pnpm
package-manager=npm
engine-strict=true
use-npm=true
legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
network-timeout=100000
cache-min=3600
prefer-offline=true
save-exact=true
cache=true 
shamefully-hoist=true 